.biz-item{
  width: 298px;
  height: 321px;
  background-color: white;
  border-radius: 4px;
  margin: 20px 0 20px 0;
  border: 1px solid #e6e6e6;
}

.biz-index{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #ffffff
}

.biz-item img{
  width: 298px;
  height: 180px;
  border-radius: 4px;
  object-fit: cover;
  object-position: 50% 50%;
}

.biz-index h3{
  word-wrap: break-word!important;
  word-break: break-word!important;
  overflow-wrap: break-word!important;
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 1.3125em;
  color: #d32323;
}

.biz-item-detail{
  display: flex;
  flex-direction: column;

}
