.profile {
  width: 100%;
  height: 800px;
}

.pf-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-template-rows: 1fr 3fr;
  width: 960px;
  margin: 0 auto;
  height: 800px;
  /* padding-top: 15px; */
}

.bg-grey {
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  height: 196px;
  position: absolute;
  z-index: -1;
}

.pf-wrapper>div {
  padding-top: 20px;
}

.pf-1 {
  grid-column: 1 / 3;
  /* padding-top: 15px; */
}

.pf-1 img {
  width: 210px;
  height: 210px;
  position: absolute;
  border-radius: 5px;
  /* margin-top: 15px; */
}

.pf-2 {
  grid-column: 3/7;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 20px 0;
}

.pf-2 h1 {
  font-size: 30px
}

.pf-2 h4 {
  font-size: 16px
}

.pf-2 ul {
  display: flex;
  /* margin: 0 0 20px 0; */
}

.pf-2 li {
  padding-right: 10px;
  padding-bottom: 10px;
}

.pf-3 {
  grid-column: 7/9;
  margin: auto 0 20px 0;
  /* padding-left: 10px; */
}

.pf-3 ul {
  /* display: flex; */
  /* flex-direction: column; */
  padding-left: 10px;
  /* margin: auto 0px 20px 0px; */
  border-left: 1px solid #e6e6e6;
}

.pf-3 li {
  margin-bottom: 10px;
  align-items: center;
  display: flex;
}

.pf-3 li a {
  padding-left: 15px;
}

.pf-4 {
  grid-column: 1/3;
}

.pf-4 ul {
  padding-top: 30px;
}

.pf-4 li {
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  align-items: center;
}

.pf-5 {
  grid-column: 3/7;
}

.pf-6 {
  grid-column: 7/9;
  border-left: 1px solid #e6e6e6;
  padding-left: 10px;
}

.pf-6 li {
  margin-bottom: 10px;
}
.pf-6 h4{
  font-size: 16px;
  line-height: 1.3125em;
  color: #d32323;
}
