/* PHASE 9: Forms */

.form {
  margin: 0 0 20px 0;
  display: flex;
}

.form-thumb {
}

.form-fieldset {
  margin: 0 0 0 20px;
  padding: 19px;
  /* width: 500px; */
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input {
  margin: 0 0 9px 0;
}

.input > label {
  display: block;
  font-weight: 700;
  padding: 0 0 5px 0;
}

.input > input,
.input > textarea {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 5px;
}

.input-half-width > input{
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 30%;
  border-radius: 5px;
}

.input > input:focus,
.input > textarea:focus {
  border-color: #0c0;
}

.input > textarea {
  height: 120px;
}

.submit {
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
}

.submit > button {
    width: 100%;
    color: #fff;
    background-color: #d90007;
    cursor: pointer;
    padding: 12px 0px 13px;
    font-size: 16px;
    line-height: 1.3em;
    display: inline-block;
    vertical-align:  middle;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    border: 1px solid #8d0005;
}

.submit > button:hover {
  background: linear-gradient(#d90007, #c91400);
}

.submit > button:active {
  top: 3px;
  background: #c91400;
  box-shadow: none;
}

.button-alternative {
  padding: 0 0 0 5px;
}

.button-alternative strong {
  padding: 0 0 0 5px;
  font-weight: bold;
  cursor: pointer;
}

.button-alternative strong:hover {
  color: #f00;
}

.sub-text-box {
  color: #999;
  font-weight: normal;
  text-align: right
}

.sub-text-box > small {
  font-size: 12px;
  line-height: 1.5em;
  font-style: inherit;
}

.sub-text-box a{
  color: #0073bb;
  text-decoration: none;
}

.session-form{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.session-form .err-msg{
  color: #d32323;
  padding-top: 5px;
}

.session-header {
  text-align: center;
}

.session-header > h2{
  color: #d32323;
  font-size: 21px;
  font-weight: bold;
}

.session-header > h4{
  color: black;
  font-size: 15px;
  font-weight: bold;
}


.session-header > p{
  color: black;
  font-size: 13px;
}
