
/* PHASE 3: Layout */
.content {
  flex-wrap: wrap;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0;
}

.content-topbar {
  /* background-image: url(/assets/laduree1.jpg);
  background-size: cover; */
  background-color: blue; /* test */
  min-height: 200px;
  padding: 20px;
  padding-right: 19px;
  border-right: 1px solid #ccc;
}

.content-main {
  background-color: #fff;
  min-height: 200px;
  height: 771px;
  padding: 20px;
}
